<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Example</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"></div>
      <div class="col-md-1"></div>
  </div>
 
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <h1>Demo Site for Topics DSL to Elasticsearch Query Generator</h1>
        <p>Please enter your example similar to the one below, you can enter a query then use AND or OR operators then provide your topic name /API name .  For example :
            <b> how to use tokens AND facebook AND security </b> , in this simple DSL query you need to know about tokens usage with posts related to Facebook API and things that is related to security Topic
        </p>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>
<form role="form" action="" method="POST">
	<div class="form-group">
		<label for="query">  Your Query : </label> <br>
  <input type="text" name="query" class="form-control" id="query" value="how to use tokens AND facebook AND security">
  </div>
  <input type="submit" class="btn btn-primary" name="submit" value="Submit">

</form>

</body>


</html>
